/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.

Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main{
  margin-bottom: 100px;
}

caption{
  margin:5px 0px;
}

tr{
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

/*END STARTER CODE*/

body{
  color: #000000;
  font-size: 1 6px;
  margin: 1.2em;
  background-size: cover ;
  background-position: center;
  font-family: 'Andika', sans-serif;
  background-image: url("../images/pigeon-background.JPEG");
  background-repeat: no-repeat;
  background-color: #DDDDDD;
}

h1{
  color: #c12258;
  font-size: 2em;
  text-align: center;
  line-height: 2;
}

p{
  padding-top: 15pix;
}

a{
  font-size: 16pix;
  color: #b21f50;
  text-decoration-style: wavy;
}

*:focus{
  border: 3pix dashed #417243
}

td{
  text-align: center;
  border-top: 2px solid black;
  padding: 10px;  
}

.colhead{
  color: #FFFFFF;
  min-width: 125px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  background-color: rgb(126, 8, 32);
}

/*Req 6c*/
.rowhead{
  border-top: 2px solid black;
  border-right: 2px solid black;
}

/*Req 6d*/
tr:nth-child(odd) {
  background: transparent;
}

/*Req 6e*/
tr:nth-child(even) {
  background: #D1D1D1;
}
/*Req 6f*/
tr:hover{
  background-color: rgb(126, 8, 32, .25);
}


/*Req 7*/
table{
    border: 2px solid #000000;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    
}

thead tr:first-child th:first-child{
  border-radius: 10px 0 0 0
}
thead tr:last-child th:last-child{
  border-radius: 0 10px 0 0
} 



tbody tr:last-child td:last-child{
  border-radius: 0 0 0 10px
}


tbody tr:last-child td:last-child{
  border-radius: 0 0 10px 0
}

/*Add selectors and rules here*/


/*Req 8*/
footer{
  position: fixed;
  min-height: 75 pix;
  width:100%;
  background:#000000;
  text-align:center;
  color: #FFFFFF;
  left: 0;
  bottom: 0;
}

